*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: #fff;
    box-shadow: 0px 0px 2px 0px;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav img{
    width: 35px;
    padding: 10px ;
}
.main{
    display: flex;
}
.main img{
    width: 30px;
}
.main .aside-left{
    width: 15%;
    background: rgb(243, 247, 236);
    position: fixed;
    height: 100%;
}
.main .aside-left ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
}
.main .aside-left ul li{
    padding-left: 25px;
    height: 40px;
    list-style: none;
}

.main .aside-left ul li a{
    color: orange;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.aside-center{
    width: 60%;
    padding: 30px;
    overflow-x: auto;
    display: flex;
    margin-left: 200px;
}
.product{
    display: flex;
    flex-direction: column;
}
input{
    width: 250px;
    height: 25px;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid orange;
}
input:hover{
    box-shadow: 0px 0px 3px 1px orange;
}
.list-card{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;

}
.product .card{
    display: flex;
    flex-direction: column;
    width: 190px;
    justify-content: space-around;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    background: #f5f3f3;
    border: 1px solid orange;
}
.card button{
    background: orange;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
}
.aside-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    left: 73%;
    background: rgb(243, 247, 236);
    padding: 5px;
}
.aside-right h4{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    color: #fff;
    
}
.aside-right .menu-price ul{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.aside-right ul li{
    list-style: none;
    text-align: center;
    background: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

}
ul #qty{
    display: flex;
    justify-content: space-between;
}
.list-Checkout ul{
    display: flex;
    justify-content: center;
}
.aside-right .list-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    height: 50px;
    border: 1px solid orange;
}

.aside-right .bottom{
    margin-top: 50px;
}
.menu-price{
    height: 50px;
    display: flex;
    align-items: center;
}
.menu-price ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.total{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: orange;
    color: white;
    border-radius: 5px;
}
.aside-right button{
    width: 100%;
    height: 40px;
    font-size: 17px;
    background: rgba(255, 166, 0, 0.799);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}