body{
    padding: 0px;
    margin: 0px;
    background: rgba(172, 255, 47, 0.236);
    font-size: 18px;
}
.container{
    display: flex;
    gap: 10px;
    margin: 10px;
}
.container .aside-left{
    width: 20%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}
#categories{
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 18px;
    text-transform: uppercase;
}
.aside-left p{
    background: greenyellow;
    height: 30px;
    display: flex;
    align-items: center;  
    margin-top: -10px;  
    padding: 4px;
    border-radius: 4px;
   
}
.container .aside-center{
    width: 60%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;

}
.aside-center input{
    width: 200px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    border: 1px solid greenyellow;
}
.aside-center label{
    background: greenyellow;
    padding: 8px;
    border-radius: 10px;
}
.container .aside-right{
    width: 25%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
